@import url("https://fonts.googleapis.com/css2?family=Josefin+Sans:ital,wght@0,300;0,700;1,400&display=swap");
$main-color: hsl(125, 54%, 59%);
$light-color: hsl(125, 54%, 98%);
$dark-color: hsl(125, 54%, 5%);
$back-accent: hsl(125, 30%, 90%);
$cta-color: hsl(125, 54%, 8%);
$shadow: 0px 4px 10px rgba(90, 90, 90, 0.486);
$padding-space-lg: 5rem 3rem;
$padding-space-m: 4rem 3rem;

%flex-center {
  display: flex;
  justify-content: center;
  align-items: center;
}

%container {
  width: 100%;
  max-width: 50rem;
  margin: auto;
}

* {
  margin: 0px;
  padding: 0px;
  box-sizing: border-box;
  font-family: "Josefin Sans", sans-serif;
}

html {
  font-family: "Josefin Sans", sans-serif;
  font-size: 15px;
  overflow-x: hidden;
  background-color: $back-accent;
}

#__next {
  overflow: hidden;
}

header {
  position: relative;
  color: $light-color;
  z-index: 0;
  overflow: hidden;
  .splash {
    z-index: 0;
    position: relative;
    overflow: hidden;
    @extend %flex-center;
    height: 100vh;
    background-color: black;
    flex-direction: column;
    text-align: center;
    width: 100%;
    box-sizing: border-box;
    .splash-image-wrapper {
      position: absolute;
      filter: brightness(80%);
      top: 0px;
      left: 0px;
      right: 0px;
      bottom: 0px;
      z-index: -1;
      div {
        width: 100%;
        height: 100%;
        .splash-image {
          object-fit: cover;
          object-position: left;
          opacity: 0;
          transition: opacity 2s;
          &.loaded {
            opacity: 1;
          }
        }
      }
    }
    .splash-text {
      position: absolute;
      display: flex;
      flex-direction: column;
      margin-bottom: 5rem;
      z-index: 1;
      h1,
      h2 {
        margin-bottom: 0.5rem;
      }
    }
  }
}

.bar {
  position: fixed;
  color: $light-color;
  transition: top 0.3s;
  top: -3rem;
  width: 100%;
  background-color: $dark-color;
  z-index: 10;
  overflow: hidden;
  &.active {
    top: 0px;
  }
  .nav {
    @extend %flex-center, %container;
    justify-content: space-evenly;
    align-items: center;
    height: 3rem;
    font-size: 1.5rem;
    width: 100%;
    a {
      transition: 0.3s;
      font-weight: 800;
      @extend %flex-center;
      text-decoration: none;
      color: $light-color;
      height: 3rem;
      width: 30%;
      text-align: center;
      align-self: start;
      transform: skewX(-20deg);
      background-color: $dark-color;
      &:hover {
        box-shadow: inset 200px 200px 40px rgba(255, 255, 255, 0.329);
      }
    }
    .selected {
      color: $dark-color !important;
      background-color: $light-color !important;
      box-shadow: none !important;
    }
  }
}

.scroll {
  position: absolute;
  cursor: pointer;
  display: flex;
  align-items: center;
  flex-direction: column;
  justify-content: space-between;
  bottom: 5rem;
  left: 50%;
  width: 12rem;
  margin-left: -6rem;
  height: 6rem;
  .scroll-text {
    font-weight: 800;
  }
  .scroll-arrow {
    height: 60px;
    width: 60px;
  }
}

.page-wrapper {
  z-index: 0;
}

.page {
  z-index: 0;
  overflow-x: hidden;
}

.icons {
  margin-top: 2rem;
  @extend %flex-center;
  justify-content: space-evenly;
  width: 20rem;
  z-index: 1;
  .social {
    color: $light-color;
    text-decoration: none;
    display: flex;
    flex-direction: column-reverse;
    height: 3rem;
    text-align: center;
    justify-content: space-around;
  }
}

.g-recaptcha {
  display: inline-block;
  transform-origin: left;
  transform: scale(0.77);
}

main {
  overflow: hidden;
  min-height: 70vh;
  background-color: $back-accent;
  flex-direction: column;
  padding-bottom: 5rem;
  section {
    @extend %container;
    padding: $padding-space-m;
    background-color: $light-color;
    margin-bottom: 1.5rem;
    box-shadow: $shadow;
  }
  section:first-of-type {
    padding: $padding-space-lg;
    width: 100%;
    box-shadow: $shadow;
  }
}

h3,
h4,
p {
  margin-top: 0.5rem;
  margin-bottom: 1rem;
}

ul {
  column-count: 1;
  padding: 1rem;
}

li {
  list-style-position: inside;
}

.logos {
  @extend %flex-center;
  flex-wrap: wrap;
  position: relative;
  align-items: center;
  .logo-wrapper {
    position: relative;
    height: 4rem;
    width: 3rem;
    display: flex;
    align-items: center;
    margin: 0.5rem;
  }
}

.line {
  display: grid;
  grid-template-columns: auto;
  column-gap: 1.5rem;
  margin-bottom: 3rem;
  p {
    margin-bottom: 1rem;
  }
}

.work {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: center;
  padding: 1rem 0;
  .half {
    padding: 1rem;
    img {
      width: 100%;
      object-position: center;
      object-fit: cover;
    }
    .tags {
      width: 100%;
      display: flex;
      flex-wrap: wrap;
      p {
        background-color: $dark-color;
        padding: 0.3rem;
        margin: 0.2rem 0.3rem;
        border-radius: 5px;
        color: $light-color;
      }
    }
  }
  .links {
    padding-top: 1rem;
    display: flex;
    flex-direction: column;
  }
}

.contact {
  display: flex;
  flex-direction: column;
  label {
    font-weight: 800;
    display: flex;
    flex-direction: column;
    padding: 0.5rem 0;
    input,
    textarea {
      padding: 0.75rem 1rem;
      margin-top: 0.25rem;
      font-size: 1rem;
      font-weight: 300;
      border-radius: 5px;
    }
    textarea {
      resize: vertical;
      height: 15rem;
    }
  }
}

button {
  padding: 0.5rem 1.5rem;
  width: fit-content;
  font-weight: 800;
  font-size: 1rem;
  margin-top: 1rem;
  background-color: $cta-color;
  color: $light-color;
  border-radius: 5px;
  border: none;
}

input,
textarea {
  outline: none;
  border: 1px solid black;
  transition: border-color 0.1s;
}

form:invalid {
  button {
    pointer-events: none;
    transition: 0.3s;
    color: rgba(255, 255, 255, 0.767);
  }
}

form:valid {
  button {
    color: rgb(255, 255, 255);
    transform: scale(1.05);
    border: 1px solid rgb(0, 0, 0);
    box-shadow: 2px 2px 5px rgba(0, 0, 0, 0.178);
  }
}

footer {
  @extend %flex-center;
  height: 10rem;
  background-color: $dark-color;
}

@media screen and (min-width: 600px) {
  html {
    font-size: 18px;
  }
  .line {
    display: grid;
    grid-template-columns: auto auto !important;
  }
  .work {
    flex-direction: row;
    .half {
      width: 50%;
    }
  }
}

@media screen and (min-width: 1000px) {
  html {
    font-size: 20px;
  }
}

@media screen and (min-width: 1600px) {
  html {
    font-size: 22px;
  }
}
