@import url("https://fonts.googleapis.com/css2?family=Josefin+Sans:ital,wght@0,300;0,700;1,400&display=swap");
header .splash, .bar .nav, .bar .nav a, .icons, .logos, footer {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.bar .nav, main section {
  width: 100%;
  max-width: 50rem;
  margin: auto;
}

* {
  margin: 0px;
  padding: 0px;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  font-family: "Josefin Sans", sans-serif;
}

html {
  font-family: "Josefin Sans", sans-serif;
  font-size: 15px;
  overflow-x: hidden;
  background-color: #deeddf;
}

.siteWrapper {
  overflow: hidden;
}

header {
  position: relative;
  color: #f7fdf8;
  z-index: 0;
  overflow: hidden;
}

header .splash {
  z-index: 0;
  position: relative;
  overflow: hidden;
  height: 100vh;
  background-color: black;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  text-align: center;
  width: 100%;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

header .splash .splash-image-wrapper {
  position: absolute;
  -webkit-filter: brightness(80%);
          filter: brightness(80%);
  top: 0px;
  left: 0px;
  right: 0px;
  bottom: 0px;
  z-index: -1;
}

header .splash .splash-image-wrapper div {
  width: 100%;
  height: 100%;
}

header .splash .splash-image-wrapper div .splash-image {
  -o-object-fit: cover;
     object-fit: cover;
  -o-object-position: left;
     object-position: left;
  opacity: 0;
  -webkit-transition: opacity 2s;
  transition: opacity 2s;
}

header .splash .splash-image-wrapper div .splash-image.loaded {
  opacity: 1;
}

header .splash .splash-text {
  position: absolute;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  margin-bottom: 5rem;
  z-index: 1;
}

header .splash .splash-text h1,
header .splash .splash-text h2 {
  margin-bottom: 0.5rem;
}

.bar {
  position: fixed;
  color: #f7fdf8;
  -webkit-transition: top 0.3s;
  transition: top 0.3s;
  top: -3rem;
  width: 100%;
  background-color: #061407;
  z-index: 10;
  overflow: hidden;
}

.bar.active {
  top: 0px;
}

.bar .nav {
  -webkit-box-pack: space-evenly;
      -ms-flex-pack: space-evenly;
          justify-content: space-evenly;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  height: 3rem;
  font-size: 1.5rem;
  width: 100%;
}

.bar .nav a {
  -webkit-transition: 0.3s;
  transition: 0.3s;
  font-weight: 800;
  text-decoration: none;
  color: #f7fdf8;
  height: 3rem;
  width: 30%;
  text-align: center;
  -ms-flex-item-align: start;
      -ms-grid-row-align: start;
      align-self: start;
  -webkit-transform: skewX(-20deg);
          transform: skewX(-20deg);
  background-color: #061407;
}

.bar .nav a:hover {
  -webkit-box-shadow: inset 200px 200px 40px rgba(255, 255, 255, 0.329);
          box-shadow: inset 200px 200px 40px rgba(255, 255, 255, 0.329);
}

.bar .nav .selected {
  color: #061407 !important;
  background-color: #f7fdf8 !important;
  -webkit-box-shadow: none !important;
          box-shadow: none !important;
}

.scroll {
  position: absolute;
  cursor: pointer;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  bottom: 5rem;
  left: 50%;
  width: 12rem;
  margin-left: -6rem;
  height: 6rem;
}

.scroll .scroll-text {
  font-weight: 800;
}

.scroll .scroll-arrow {
  height: 60px;
  width: 60px;
}

.page-wrapper {
  z-index: 0;
}

.page {
  z-index: 0;
  overflow-x: hidden;
}

.icons {
  margin-top: 2rem;
  -webkit-box-pack: space-evenly;
      -ms-flex-pack: space-evenly;
          justify-content: space-evenly;
  width: 20rem;
  z-index: 1;
}

.icons .social {
  color: #f7fdf8;
  text-decoration: none;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: reverse;
      -ms-flex-direction: column-reverse;
          flex-direction: column-reverse;
  height: 3rem;
  text-align: center;
  -ms-flex-pack: distribute;
      justify-content: space-around;
}

.icons img {
  height: 1.3rem;
  -o-object-fit: cover;
     object-fit: cover;
  -o-object-position: center;
     object-position: center;
  margin: auto;
}

.icon {
  height: 1.3rem;
  -o-object-fit: cover;
     object-fit: cover;
  -o-object-position: center;
     object-position: center;
}

main {
  overflow: hidden;
  min-height: 70vh;
  background-color: #deeddf;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  padding-bottom: 5rem;
}

main section {
  padding: 4rem 3rem;
  background-color: #f7fdf8;
  margin-bottom: 1.5rem;
  -webkit-box-shadow: 0px 4px 10px rgba(90, 90, 90, 0.486);
          box-shadow: 0px 4px 10px rgba(90, 90, 90, 0.486);
}

main section:first-of-type {
  padding: 5rem 3rem;
  width: 100%;
  -webkit-box-shadow: 0px 4px 10px rgba(90, 90, 90, 0.486);
          box-shadow: 0px 4px 10px rgba(90, 90, 90, 0.486);
}

h3,
h4,
p {
  margin-top: 0.5rem;
  margin-bottom: 1rem;
}

ul {
  -webkit-column-count: 1;
          column-count: 1;
  padding: 1rem;
}

li {
  list-style-position: inside;
}

.logos {
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  position: relative;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.logos .logo-wrapper {
  position: relative;
  height: 4rem;
  width: 3rem;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin: 0.5rem;
}

.line {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: auto;
      grid-template-columns: auto;
  -webkit-column-gap: 1.5rem;
          column-gap: 1.5rem;
  margin-bottom: 3rem;
}

.line p {
  margin-bottom: 1rem;
}

.work {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  padding: 1rem 0;
}

.work .half {
  padding: 1rem;
}

.work .half img {
  width: 100%;
  -o-object-position: center;
     object-position: center;
  -o-object-fit: cover;
     object-fit: cover;
}

.work .half .tags {
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}

.work .half .tags p {
  background-color: #061407;
  padding: 0.3rem;
  margin: 0.2rem 0.3rem;
  border-radius: 5px;
  color: #f7fdf8;
}

.work .links {
  padding-top: 1rem;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.contact {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.contact label {
  font-weight: 800;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  padding: 0.5rem 0;
}

.contact label input,
.contact label textarea {
  padding: 0.75rem 1rem;
  margin-top: 0.25rem;
  font-size: 1rem;
  font-weight: 300;
  border-radius: 5px;
}

.contact label textarea {
  resize: vertical;
  height: 15rem;
}

button {
  padding: 0.5rem 1.5rem;
  width: -webkit-fit-content;
  width: -moz-fit-content;
  width: fit-content;
  font-weight: 800;
  font-size: 1rem;
  margin-top: 1rem;
  background-color: #091f0b;
  color: #f7fdf8;
  border-radius: 5px;
  border: none;
}

input,
textarea {
  outline: none;
  border: 1px solid black;
  -webkit-transition: border-color 0.1s;
  transition: border-color 0.1s;
}

form:invalid button {
  pointer-events: none;
  -webkit-transition: 0.3s;
  transition: 0.3s;
  color: rgba(255, 255, 255, 0.767);
}

form:valid button {
  color: white;
  -webkit-transform: scale(1.05);
          transform: scale(1.05);
  border: 1px solid black;
  -webkit-box-shadow: 2px 2px 5px rgba(0, 0, 0, 0.178);
          box-shadow: 2px 2px 5px rgba(0, 0, 0, 0.178);
}

footer {
  height: 10rem;
  background-color: #061407;
}

@media screen and (min-width: 600px) {
  html {
    font-size: 18px;
  }
  .line {
    display: -ms-grid;
    display: grid;
    -ms-grid-columns: auto auto !important;
        grid-template-columns: auto auto !important;
  }
  .work {
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
  }
  .work .half {
    width: 50%;
  }
}

@media screen and (min-width: 1000px) {
  html {
    font-size: 20px;
  }
}

@media screen and (min-width: 1600px) {
  html {
    font-size: 22px;
  }
}
/*# sourceMappingURL=globals.css.map */